[user]
	email = jun.ren.nz@gmail.com
	name = Jun
[push]
	default = current

[color]
  ui = auto
[alias]
  cm = commit
  co = checkout
  l1 = log --reverse --oneline
  lg = log --all --oneline --graph
  br = branch
  ls = log --reverse --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --reverse --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lnc = log --reverse --pretty=format:"%h\\ %s\\ [%cn]"
  lds = log --reverse --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ld = log --reverse --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  filelog = log -u
  fl = log -u
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  dr  = "!f() { git diff "$1"^.."$1"; }; f"
  lc  = "!f() { git ll "$1"^.."$1"; }; f"
  diffr  = "!f() { git diff "$1"^.."$1"; }; f"
  f = "!git ls-files | grep -i"
  ag = "!git ls-files | ag"
  dif = "!git diff --word-diff-regex=."
  
[push]
  default = current
[rerere]
  enabled = 1 
  autoupdate = true

[core]
  excludesfile = /Users/jren/.gitignore_global
  ignorecase = false
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[commit]
; gpgsign = true
[pager]
  log = false
